@model IEnumerable<Category>

@{
	ViewBag.PageTitle = "Category Management";
	ViewBag.CardTitle = "View Category";
	Layout = "~/Views/Shared/_Dashboard.cshtml";
}
	<div>
	<a class="btn btn-success" href="/Category/Create">Create</a>

	</div>
	<br />
	<table class="table table-hover" width="100%">
		<tr>
			<th>Name</th>
			<th>Description</th>
			<th>Date Created</th>
			<th>Actions</th>
		</tr>

	
			@foreach (var item in Model)
			{
				<tr>
					<td>@Html.DisplayFor(modelItem => item.Name)</td>
					<td>@Html.DisplayFor(modelItem => item.Description)</td>
					<td>@Html.DisplayFor(modelItem => item.CreatedTime)</td>
					<td><a class="btn btn-success" href="/Category/Edit/@item.Id">Edit</a></td>
					<td><a class="btn btn-success" href="/Category/Delete/@item.Id">Delete</a></td>


				</tr>
			}
	
	</table>