@model IEnumerable<Category>

	<h3>Categories</h3>


	<table class="table table-hover" width="100%">
		<tr>
			<th>Name</th>
			<th>Description</th>
			<th>Date Created</th>
		</tr>

	
			@foreach (var item in Model)
			{
				<tr>
					<td>@Html.DisplayFor(modelItem => item.Name)</td>
					<td>@Html.DisplayFor(modelItem => item.Description)</td>
					<td>@Html.DisplayFor(modelItem => item.CreatedTime)</td>
					<td><a class="btn btn-success" href="/Category/Edit/@item.Id">Edit</a></td>
					<td><a class="btn btn-success" href="/Category/Create/@item.Id">Create</a></td>


				</tr>
			}
	
	</table>